# OS X
.DS_Store*
Icon?
._*

# npm
node_modules
*.log
*.gz


#Presentation#
##############
*.iml
*.iws
*.eml
.svn
presentation/.idea/
presentation/out/
presentation/log/*.log
presentation/tmp/**
presentation/node_modules/
presentation/.sass-cache
presentation/css/reveal.min.css
presentation/js/reveal.min.js
