body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

/*.pokemahn {
  width: 100%;
  display: inline-block;
  margin: 10px;
  min-height: 150px;
  border: solid 1px #e7e7e7;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(top,#fff 0,#f8f8f8 100%);
  background-image: -o-linear-gradient(top,#fff 0,#f8f8f8 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f8f8f8));
  background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
  text-transform: capitalize;
  color: #777;
}*/
/*
.pokemahn p {
  margin: 0 0 2px;
}

a .pokemahn:hover > p {
  color: #333
}

.pokemahn img {
  margin: 10px;
}

.pokemahn ul {
  list-style: none;
  padding: 0;
}*/

.logo {
  max-width: 100%;
}

.pokemahns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pokemahn-card {
  margin: 10px;
  width: 200px;
  display: flex;
  flex-direction: column-reverse;
  /*align-items: center;*/
}
.pokemahn-card > .mdl-card__title {
  color: #000;
  height: 176px;
  background: url('../assets/demos/welcome_card.jpg') center / cover;
}
.pokemahn-card > .mdl-card__menu {
  color: #555;
}

.pokemahn-image {
  flex: 1;
  border-bottom: 1px solid rgba(0,0,0,.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemahn-name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.pokemahn-name span {
  margin-left: 5px;
  margin-right: 5px;
}

.pokemahn-name span.id { color: gray; }
.pokemahn-name span.name {
  color: black;
  font-size: 18px;
}
